/** {
  outline: 1px solid black;
}*/

.header {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.logo {
  flex: 0 0 auto;
}
.title {
   flex: 0 0 auto;
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
   color: MediumAquamarine;
   padding: 10px;
 }

.navigation {
  flex-grow: 1;
  padding: 10px;
}

.navigation nav {
  text-align: right;
  padding: 10px;
}

.navigation nav a {
  font-family: Verdana;
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.content {
  display: flex;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
}

.column.small {
  width: 240px;
}

.articleimage {
  height: 300px;
  display: flex;
  flex: 0 0 auto;
}

.articleimage h2 {
  width: 100%;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

 h2.mainstory {
  font-size: 40px;
}

.articleimage.drunks {
    background-image: url('./images/drunks.png');
}

.articleimage.fall {
    background-image: url('./images/fall.png');
}

.articleimage.hipster {
    background-image: url('./images/hipster.png');
}

.articleimage.cat {
    background-image: url('./images/cat.png');
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story {
 flex: 1 1 auto;
}

.stories {
  display: flex;
  flex-direction: row;
}

.newsbites {
 font-size: 16px;
 font-weight: bold;
 text-align: center;
}

.newsbites li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
}

.newsbites ul {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: MediumAquamarine;
  height: 325px;
  width: 100%;
margin: auto;
font-family: Verdana;
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.footer h1 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.bottomlogo h1 {
  display: inline-block;
  padding: 10px;
  border-right: 1px solid white;
}

.bottomlogo nav {
  display: inline-block;
  padding: 10px;
}

.bottomlogo a {
  display: inline-block;
  padding: 10px;
  color: black;
}
